<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/CSS :: common_header(~{::title},~{::link})">
        <title>O.Compass</title>
        <link href="vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
        <link href="vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--<section th:replace="menu/Head :: DIV(~{::div})">-->
        <div class="hk-wrapper hk-alt-nav" id="formatCon">
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item">
                        <a href="#">数字仓库</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">转换工具</li>
                </ol>
            </nav>
            <div class="container-fluid">
                <section class="hk-sec-wrapper">
                    <div class="hk-pg-header">
                        <h4 class="navbar-brand font-weight-700">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-windows fa-stack-2x text-grey"></i>
                                <i class="fa fa-magic fa-stack-1x"></i>
                            </span>&nbsp&nbsp转换工具
                        </h4>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="spanType">转换类型</span>
                                </div>
                                <select class="form-control custom-select" aria-describedby id="formatCon_inputType">
                                    <option value="1">XML格式化</option>
                                    <!--<option value="2">报文解密</option>-->
                                    <option value="3">系统报文拼装</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" id="formatCon_assembly">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">交易类型</span>
                                </div>
                                <select class="form-control custom-select" aria-describedby id="formatCon_inputTxCode">
                                    <option value="">未选择</option>
                                    <option th:each="type:${types}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-15" id="formatCon_requiredEntry">
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">所属银行</span>
                                </div>
                                <select class="form-control custom-select" aria-describedby id="input_agentid">
                                    <option value="">未选择</option>
                                    <option th:each="agentid:${agentids}" th:value="${agentid.id}" th:text="${agentid.bankname}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">银行账号</span>
                                </div>
                                <select class="form-control" aria-describedby id="input_select_acctid" data-live-search="true"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">查询日期</span>
                                </div>
                                <input class="form-control" type="text" name="daterange" id="inputSingleDate"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">币种类别</span>
                                </div>
                                <select class="form-control custom-select" aria-describedby id="input_curcode">
                                    <option value="RMB">RMB</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hk-sec-wrapper">
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <textarea class="form-control text-red" rows="20" id="leftArea" style="background-color:#d1d1d1;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <center>
                                <button class="btn btn-green btn-wth-icon icon-wthot-bg btn-rounded icon-right btn-lg" style="top:20px;" id="button_change">
                                    <span class="btn-text">消息转换</span>
                                    <span class="icon-label">
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <textarea class="form-control text-green" rows="20" id="rightArea" style="background-color:#d1d1d1;"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script type="text/javascript" src="js/FormatCon/FormatCon.js"></script>
    </body>
</html>