<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/CSS :: common_header(~{::title},~{::link})">
        <title>O.Compass</title>
        <link rel="stylesheet" href="css/bootstrap-tab.css" type='text/css'/>
        <link rel="stylesheet" type="text/css" href="vendors/bootstrap-table/dist/bootstrap-table.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
        <link href="vendors/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/loading.css" type='text/css'/>
    </head>
    <body>
        <section th:replace="menu/Head :: DIV(~{::div})">
            <div class="hk-pg-wrapper">
                <div class="container-fluid">
                    <div id="tabContainer"></div>
                </div>
            </div>
        </section>
        <section th:replace="common/JS::common_js(~{::script})">
            <script type="text/javascript">
                var tab=$('#tabContainer').tabs({
                    data: [{
                        id: 'Home',
                        text: '首页监控',
                        url: "/Home",
                        closeable: true
                    }],
                    showIndex: 0,
                    loadAll: true
                });
                /*$('#tabContainer').data("tabs").addTab({id: 'test', text: '账户余额', closeable: true, url: '/AcctBalance'});*/
                // tab.addTab({id: 'test', text: '账户余额', closeable: true, url: '/AcctBalance'});
                function jumpPage(id,name){
                    if($('#navbar_toggle_btn_sign').val()==1){
                        $('#navbar_toggle_btn').click();
                    }
                    if($("#" + id).length>0){
                        tab.reload({id: id, text: name, closeable: true, url: '/'+id});
                    }else {
                        tab.addTab({id: id, text: name, closeable: true, url: '/'+id});
                    }
                }

                function myAlert(starts , alertMsg) {
                    $.toast().reset('all');
                    $("body").removeAttr('class');
                    if(starts){
                        $.toast({
                            heading: '执行成功',
                            text: '<i class="jq-toast-icon fa fa-check fa-2x"></i><h2>'+alertMsg+'</h2>',
                            position: 'top-right',
                            loaderBg:'#7a5449',
                            class: 'jq-has-icon jq-toast-success',
                            hideAfter: 3000,
                            stack: 12,
                            showHideTransition: 'fade'
                        });
                    }else {
                        alert(alertMsg);
                        // $.toast({
                        //     heading: '发生异常',
                        //     text: '<i class="jq-toast-icon fa fa-check fa-2x"></i><h2>'+alertMsg+'</h2>',
                        //     position: 'top-right',
                        //     loaderBg:'#7a5449',
                        //     class: 'jq-has-icon jq-toast-error',
                        //     hideAfter: 7000,
                        //     stack: 12,
                        //     showHideTransition: 'fade'
                        // });
                    }
                    return false;
                }
            </script>
            <!--<script src="vendors/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="dist/js/init.js"></script>-->
        </section>
    </body>
</html>