<!DOCTYPE HTML>
<html>
    <head>
        <title>测试对象转数组</title>
        <style>
            /*.FontStyle{float:left;}*/
            .FontStyle{float:left;}
            .wrap{width:5px;height:20px;margin-left:3px;}
            .wrap:hover i{display:block;}
            .wrap i{display:none;float:right;}
        </style>
        <link href="dist/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="FontStyle">hi,i am here： </div>
        <div class="wrap" style="float:left;">
            <i class="fa fa-remove closeable" title="关闭"></i>
            <!--<span class="label label-primary bstreeadd">
                <i class="fa fa-remove closeable" title="关闭"></i>
            </span>-->
        </div>
    </body>
</html>