<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programme.Fortress.Function.BankTrade.dao.AcctBalanceMapper">

    <select id="getDual" resultType="java.lang.Long">
        select SEQ_ACCT_BALANCE.nextval from DUAL
    </select>
</mapper>